<% start_date = Date.today %>
<% end_date = start_date + 6.days %>

<% events_in_range = @events.select { |event| (event.start_time.to_date..(event.end_time || event.start_time).to_date).overlaps?(start_date..end_date) } %>
  <div class="list-top">
    <div class="list-index">
      <div class="list-title">タイトル</div>
      <div class="list-title">日時</div>
    </div>
    <div class="list-contents">
    <% events_in_range.each do |event| %>
      <div class="list-set">
        <div class="list-title">
          <%= event.title %>
        </div>
        <div class="list-date">
          <% if event.all_day? %>
            <%= event.start_time.strftime("%m/%d") %>
            <% if event.end_time && event.start_time.to_date != event.end_time.to_date %>
              <% if event.end_time >= event.start_time %>
                - <%= event.end_time.strftime("%m/%d") %>
              <% end %>
            <% end %>
          <% else %>
            <%= event.start_time.strftime("%m/%d %H:%M") %>
            <% if event.end_time && event.start_time.to_date != event.end_time.to_date %>
              <% if event.end_time >= event.start_time %>
                - <%= event.end_time.strftime("%m/%d %H:%M") %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <ul class="list-property">
          <li>【 <%= link_to '詳細', event_path(event.id), class: "list-detail" %> 】</li>
          <li>【 <%= link_to '編集', edit_event_path(event.id), class: "list-detail" %> 】</li>
          <li>【 <%= link_to '削除', event_path(event.id), data: { turbo_method: :delete}, class: "list-detail" %> 】</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>

