<%= render "shared/header" %>

<div class="toppage">
  <div class="main">
    <h1>編集画面</h1>
    <%= form_with(model: @event, local: true) do |form| %>

    <div class="field">
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :詳細 %>
      <%= form.text_field :comment %>
    </div>

    <div class="field">
      <%= form.label :開始時刻 %>
      <%= form.datetime_select :start_time, minute_step: 10 %>
    </div>

    <div class="field">
      <%= form.label :終了時刻 %>
      <%= form.datetime_select :end_time, minute_step: 10 %>
    </div>

    <div class="field">
      <%= form.label :all_day, "終日" %>
      <%= form.check_box :all_day %>
    </div>

    <div class="field">
      <%= form.label :場所 %>
      <%= form.text_field :location %>
    </div>


    <div class="field">
      <%= form.label :カテゴリー %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "選択してください" %>
    </div>

    <div class="actions">
      <%= form.submit "保存" %>
    </div>
  </div>
</div>
<% end %>

<%= render "shared/footer" %>