<%= render "shared/header" %>

<div class="contents row">
  <div class="container">
    <h3>編集画面</h3>
    <%= form_with(model: @event, local: true) do |form| %>

    <div class="title">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="comment">
      <%= form.label :comment %>
      <%= form.text_field :comment %>
    </div>

    <div class="start_time">
      <%= form.label :start_time %>
      <%= form.datetime_select :start_time %>
    </div>

    <div class="end_time">
      <%= form.label :end_time %>
      <%= form.datetime_select :end_time %>
    </div>

    <div class="all_day">
      <%= form.label :all_day, "終日" %>
      <%= form.check_box :all_day %>
    </div>

    <div class="location">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>


      <div class="category">
      <%# form.label :category_id, "カテゴリー" %>
      <%# form.select :category_id, ["Work", "Friend", "Themepark", "Hobby", "Other", "period"] << @event.category_name, selected: @event.category_id %>
    </div>

    <div class="actions">
      <%= form.submit "保存" %>
    </div>
<% end %>

<%= render "shared/footer" %>