<%= render "shared/header" %>
<div class="toppage">
  <div calss="index_top">
    <p>スケジュール</p>
      <%= render "events_list"%>
  </div>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.title, event_path(event.id) %>
    </div>
  <% end %>
<% end %>
</div>
