<%= render "shared/header" %>
<div class="toppage">
  <div class="main">
    <div class="index-top">
      <p>スケジュール</p>
        <%= render "events_list"%>
    </div>
  </div>
  <div class="index-main">
    <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>

      <% events.each do |event| %>
        <div>
          <%= link_to event.title, event_path(event.id) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
