<%= render "shared/header" %>

<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>予定詳細画面</h1>
    </div>

    <div class="event-details">
      <div calss="event-date">
        <p style="display:inline;"><%= @event.start_time.strftime('%m/%d') %></p>
      </div>

      <div>タイトル：<p style="display:inline;"><%= @event.title %></p>
      </div>

      <div>場所：<p style="display:inline;"><%= @event.location %></p>
      </div>

      <div>時間：
        <% if @event.all_day? %>
          <p style="display:inline;">終日</p>
        <% else %>
          <p style="display:inline;"><%= @event.start_time.strftime('%H:%M') %> 〜 <%= @event.end_time.strftime('%H:%M') %></p>
        <% end %>
      </div>

      <div>詳細：<p style="display:inline;"><%= @event.comment %></p>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>
