<%= render "shared/header" %>

<div class="container">
  <h1>予定詳細画面</h1>

  <ul class="list-property">
    <li><%= link_to '【編集】', edit_event_path %></li>
    <li><%= link_to '【削除】', event_path, data: { turbo_method: :delete} %></li>
  </ul>
  <% if @event.present? %>
    <div class="event-content">
      <div calss="event-date">
        <span>＊<%= @event.start_time.strftime('%m/%d') %>＊</span>
        <% if @event.start_time.to_date != (@event.end_time || @event.start_time).to_date %>
          <% if @event.end_time >= @event.start_time %>
            - <%= @event.end_time.strftime('%m/%d') %>
          <% end %>
        <% end %>
      </div>

      <div class="event-detail">
        <div class="field">
          タイトル：<%= @event.title %>
        </div>

        <div class="field">
          <% if @event.location.present? %>
              場所：<%= @event.location %>
          <% end %>
        </div>

        <div class="field">
          時間：
          <% if @event.all_day? %>
            終日
          <% else %>
            <%= @event.start_time.strftime('%H:%M') %> 〜 <%= @event.end_time.strftime('%H:%M') %>
          <% end %>
        </div>

        <div class="field">
          <% if @event.comment.present? %>
            詳細：<%= @event.comment %>
          <% end %>
        </div>

        <div class="field">
          カテゴリー：<%= @event.category.name %>
        </div>

        <div class="field">
          <% if @event.category.name == 'period' %>
            次の予定日：<%= (@event.start_time.to_date + 28.days).strftime('%m/%d') %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer" %>
